<head>
  <title>Login Form</title>
  <link href="/css/styles.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css"
    href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">

  <link rel="stylesheet" type="text/css" href="/css/login.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="container">
    <div class="img">
      <h2>SPK Menggunakan Metode MAUT</h2>
    </div>
    <div class="login-content">
      <form method="POST" action="/admin/login">
        <%- include("../partials/flash") %>
          <!-- <img src="/img/avatar.svg"> -->
          <i class="fas fa-user avatar"></i>
          <h2 class="title">Login Admin</h2>
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-user"></i>
            </div>
            <div class="div">
              <h5>Username</h5>
              <input type="text" name="username" class="input" required>
            </div>
          </div>
          <div class="input-div pass">
            <div class="i">
              <i class="fas fa-lock"></i>
            </div>
            <div class="div">
              <h5>Password</h5>
              <input type="password" name="password" class="input" required>
            </div>
          </div>
          <!-- <a href="/register">Register</a> -->
          <input type="submit" class="btn" value="Login">
      </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>


  <script type="text/javascript" src="/javascript/login.js"></script>
</body>

</html>