<% layout('layouts/boilerplate')%>

  <div class="col-12 mt-3 mb-3 d-flex justify-content-between">
    <h4 class="text-uppercase"><i class="fas fa-cube mr-1"></i>Konsultasi</h4>



   
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table mr-1"></i>
      Konsultasi Pasien
    </div>

    <div class="card-body">

      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card  text-center">
              <img class="" src="https://cdn.idntimes.com/content-images/community/2020/09/cholesterol-a824f94db59eb84e0fac6186d7137123_600x400.jpg" >
              <div class="card-body">
                <h5 class="card-title">Kolesterol</h5>
                <a href="#" class="btn btn-primary">Go Konsul</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card text-center">
              <img class="card-img-top" src="https://cdn.idntimes.com/content-images/community/2020/09/cholesterol-a824f94db59eb84e0fac6186d7137123_600x400.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Asam Urat</h5>
                <a href="#" class="btn btn-primary">Go Konsul</a>
              </div>
            </div>
            
    
          </div>
          <div class="col-md-4">
            <div class="card text-center ">
              <img class="" src="https://cdn.idntimes.com/content-images/community/2020/09/cholesterol-a824f94db59eb84e0fac6186d7137123_600x400.jpg" >
              <div class="card-body">
                <h5 class="card-title">Gula Darah</h5>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                <a href="#" class="btn btn-primary">Go Konsul</a>
              </div>
            </div>
            <!-- <div class="form-check text-center bg-success">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
              </label>
            </div> -->
          </div>
        </div>
      </div>
      
        <hr>
      
      <div class="container">
        
      </div>

        
       



    </div>
  </div>